:root{
    --primary-color: #C4242C;
}


html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body{
    margin:0;
}
 
h1,
h2{
    margin:0;
}

p,
a {
    font-size: 1.6 rem;
}

.upper{
    text-transform: uppercase;
}

.wrapperContainerlight{
    background-color: #FFF3EF;
}

.wrapperContainerdark{
    background-color: #003672;
}

.wrapperContainerdark h2{
    color: white;
}

.wrapperContainerdark p{
    color: rgb(255, 255, 255,.66);
}

.wrapperContainerred{
    background-color: var(--primary-color);
}

.wrapperContainerred h2{
    color: white;
}

.wrapperContainerred p{
    color: rgb(255, 255, 255,.66)
}

.wrapperContainerblack{
    background-color: black;
    color: white;
}

.container{
    max-width: 110.0rem;
    margin:auto;
}

.hero{
    background-image: url(https://images.unsplash.com/photo-1548425083-4261538dbca4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-color: #cccccc;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 1rem;
}

.titulo{
    margin: 25rem auto;
    width: 35%;
    text-align: center;
    align-items: center;
    background-color:#fff3ef8c;
    display: block;
    padding: 1rem;
    border-radius: 1.5rem;
}

.titulo h1{
    color: var(--primary-color);
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem #0a000060;
}

.titulo h3{
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0.1rem 0.1rem #0a000060;
}

.headerContent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right:30rem;
    
}

.header_nav ul{
    display: flex;
    list-style-type: none;
    background-color: #FFF3EF;
    background-size: contain;
    background-position: relative;
    border-radius: 1.5rem;
    height: 2.5rem;
    padding: 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1.1rem;
    padding-top: 1.9rem;
}


.header_nav a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #FFF3EF;
    border-radius: 1.5rem;    
}


.header_nav a:hover{
    background-color: var(--primary-color);
    color: #FFF3EF;
}

.SubtituloContainer{
    display: flex;
    justify-content: center;
}

.Subtitulo{
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem #0a000060;
    padding: 2rem;
}


.conteudoContainer{
    display: flex;
    padding: 2rem;
}

.conteudoArticle{
    color: #003672;
    font-size: 1.5rem;
    width: 50rem;
    text-align: justify;
    padding: 2.5rem;

}

.btnContainer{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.btn{
    text-decoration: none;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 1.5rem 4rem;
    color:#FFF3EF;
    border-radius: 1.5rem;
}

.btnContainer a:hover{
    background-color: #e02b34;
}

.infograficoContainer{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.infografico{
    max-width: 200rem;
    max-height: 150rem;
    width: auto;
    height: auto;
}

figcaption{
    color:#FFF3EF;
    font-size: 1.2rem;
}

.imagensCard{
    max-width: 30rem;
    max-height: 20rem;
    width: auto;
    height: auto;
    display: block;
    border-radius: 1.3rem;
    
}

.metasContainer{
    display:flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
}

.metasCard{
    border: 1px solid #fff3ef8c;
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    flex:1;
}

.metasCardContent{
    color:#FFF3EF;
    font-size: 1.5rem;
    text-align: justify;
    padding: 1rem;
}


.Subtitulo_branco{
    color: white;
    font-size: 2.5rem;
    padding-top:1.5rem;
    text-align: left;
}

.sobreContainer{
    display: flex;
    justify-content: space-evenly;
    gap:20rem;
    padding-bottom: 2.5rem;
}

.paragrafoSobre{
    font-size: 1.5rem;
    text-align: justify;
    
}

.imagemSobre{
    max-width: 25rem;
    max-height: 25rem;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.linksSobre{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
}

.fa-brands{
    color: #ccccccb9;
    font-size: 4rem;
}

.fa-brands:hover{
    color: #cccccc;
}

.contato{
    display: flex;
    justify-content: space-between;
}

.contato p{
    color: #fff3ef8c;
    font-size: 1.3rem;
    padding-bottom: 0;
    margin:1rem 0;
}

.contato ul{
    list-style-type: none;
    padding: 0;
}


.contato a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #cccccc;
}

form{
    width: 80%;
    min-width: 25rem;
    max-width: 60rem;
    background-color: var(--primary-color);
    color: #FFF3EF;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    
}

fieldset{
    border: none;
    padding: 0;
    margin:0;
}

label,
input,
textarea{
    display: block;
}

input,
textarea{
    background-color: #D9D9D9;
    border: none;
    padding: .5rem;
    margin: .5rem 0;
}

.btnContato{
    background-color: #003672;
    color: #FFF3EF;
    cursor:pointer;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem 4rem;
    border-radius: 1.5rem;
}

.footer{
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
}