:root{
    --primary-color: #C4242C;
}


html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body{
    margin:0;
}
 
h1,
h2{
    margin:0;
}

p,
a {
    font-size: 1.6 rem;
}

.upper{
    text-transform: uppercase;
}

.wrapperContainerlight{
    background-color: #FFF3EF;
    color: var(--primary-color);
}

.wrapperContainerdark{
    background-color: #003672;
}

.wrapperContainerdark h2{
    color: white;
}

.wrapperContainerdark p{
    color: rgb(255, 255, 255,.66);
}

.wrapperContainerred{
    background-color: var(--primary-color);
}

.wrapperContainerred h2{
    color: white;
}

.wrapperContainerred p{
    color: rgb(255, 255, 255,.66)
}

.wrapperContainerblack{
    background-color: black;
    color: white;
}

.container{
    max-width: 133.0rem;
    margin:auto;
}

.hero{
    background-image: url(https://images.unsplash.com/photo-1548425083-4261538dbca4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-color: #cccccc;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 1rem;
}

.titulo{
    margin: 20rem auto;
    width: 35%;
    text-align: center;
    align-items: center;
    background-color:#fff3ef8c;
    display: block;
    padding: 1rem;
    border-radius: 1.5rem;
}

.titulo h1{
    color: var(--primary-color);
    font-size: 4rem;
    text-shadow: 0.3rem 0.3rem #0a000060;
}

.titulo h3{
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0.1rem 0.1rem #0a000060;
}